.section_cadastro {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 50px 0;
}

.form_cadastro {
    display: flex;

    justify-content: column;
    align-items: center;
}

.form_cadastro h1 {
    text-transform: uppercase;
    font-size: medium;
}

.form_cadastro hr {
    max-width: 100px;
    width: 100%;
    border-style: solid;
    margin: 0 auto;
    border-width: 1px;
    border-color: #73061b;
    margin-top: 5px;
}

.campos_cadastro {
    display: flex;
    align-items: center;
    padding-top: 60px;
    gap: 30px;

}

.campos_cad_nome input, 
.campo_cad_tipoEvento {
    border-radius: 6px;
    outline: none;
    padding: 0px 5px;
    width: 300px;
    height: 30px;
    margin-top: 7px;
    display: flex;
    margin: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.campo_cad_tipoEvento{
    margin-bottom: 30px;
    color: grey;
}

.campo_preen{
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 0px 30px 30px;
}

/* Modificando i imput e select */


@media screen and (max-width: 880px) {
    .campos_cadastro {
        flex-direction: column;
        align-items: center;
    }

    .banner_cadastro {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    .form_cadastro h1{
        font-size: 20px;
    }

    .campo_preen, .campo_cad_nome{
        padding: 0px 0px 0px 0px;
    }


}